<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="contentinfo">

    <h4>코멘트 영역</h4>
    <div style="border: black solid 1px; margin-top: 10px;
         display: flex; align-items: stretch; flex-direction: row; height: 50px">
        <div style="flex: 2; border-right: 1px solid #b6bcc0; padding: 5px">
            <div style="display: flex; align-items: stretch; flex-direction: column;">
                <div style="flex: 1;">
                    <span style="font-size: 12px">윤동현</span>
                </div>
                <div style="flex: 3;">
                    <span style="font-size: 12px">2023년 6월 5일 18시 19분</span>
                </div>
            </div>
        </div>
        <div style="flex: 6; padding: 5px">
            <span style="font-size: 12px">월요일이 뭐가 좋아</span>
        </div>
    </div>
    <div style="border: black solid 1px; margin-top: 10px;
         display: flex; align-items: stretch; flex-direction: row; height: 50px">
        <div style="flex: 2; border-right: 1px solid #b6bcc0; padding: 5px">
            <div style="display: flex; align-items: stretch; flex-direction: column;">
                <div style="flex: 1;">
                    <span style="font-size: 12px">윤동현</span>
                </div>
                <div style="flex: 3;">
                    <span style="font-size: 12px">2023년 6월 5일 18시 19분</span>
                </div>
            </div>
        </div>
        <div style="flex: 6; padding: 5px">
            <span style="font-size: 12px">월요일이 뭐가 좋아</span>
        </div>
    </div>
</div>
</html>