<!DOCTYPE html>
<html lang="ko,en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="contentinfo">
    <form th:method="put" th:action="@{/api/projectEdit}" th:object="${projectUpdateDto}">
        <p style="font-size: 12px; color: dimgray;">수정완료</p>
        <input type="submit" th:value="'프로젝트 수정'"/>
        <input style="width: 900px; font-size: 20px; font-weight: bold;border: none; visibility: hidden"
               type="text" name="projectId" th:value="${projectView.projectId}"/></br>
        <hr>
        <p style="font-size: 12px; color: dimgray;">프로젝트 타이틀</p>
        <input style="width: 900px; font-size: 20px; font-weight: bold;border: none;"
               type="text" name="newProjectTitle" th:value="${projectView.projectTitle}"/></br>
        <hr>
        <p style="font-size: 12px; color: dimgray;">프로젝트 상태</p>
        <input style="width: 900px; font-size: 20px; font-weight: bold;border: none;"
               type="text" name="newStatusName" th:value="'Active'"/></br>
        <hr>
    </form>
    <p style="font-size: 12px; color: dimgray;">프로젝트 관리자</p>
    <div style="border: black solid 1px; display: flex; align-items: stretch; flex-direction: row; height: 30px; width: 400px">
        <div style="flex: 2; border-right: 1px solid #b6bcc0; padding: 5px">
            <p style="font-size: 12px;" th:text="${projectView.adminName}"></p>
        </div>
        <div style="flex: 6; padding: 5px">
            <p style="font-size: 12px;" th:text="${projectView.adminEmail}"></p>
        </div>
    </div>
    <hr>

    <p style="font-size: 12px; color: dimgray;">프로젝트 참여인원</p>
    <table>
        <tr th:each="item, i: ${memberView}">
            <td>
                <div style="border: black solid 1px; display: flex; align-items: stretch; flex-direction: row; height: 30px; width: 400px">
                    <div style="flex: 2; border-right: 1px solid #b6bcc0; padding: 5px">
                        <p style="font-size: 12px;" th:text="${item.memberName}"></p>
                    </div>
                    <div style="flex: 6; padding: 5px">
                        <p style="font-size: 12px;" th:text="${item.memberEmail}"></p>
                    </div>
                </div>
            </td>
        </tr>
    </table>


    <form th:method="post" th:action="@{/api/member}" th:object="${projectMemberDto}">
        <select name="memberEmail">
            <option th:each="item, i: ${memberAllView}" th:value="${item.memberEmail}" th:text="${item.memberName} + ' / ' + ${item.memberEmail}">
            </option>
        </select>
        <input style="display: none" th:value="${projectView.projectTitle}" name="projectTitle"/>
        <input type="submit" th:value="'새로운 멤버 등록'"/>
    </form>

    <form th:method="delete" th:action="@{/api/member}" th:object="${projectMemberDto}">
        <select name="memberEmail">
            <option th:each="item, i: ${memberView}" th:value="${item.memberEmail}" th:text="${item.memberName} + ' / ' + ${item.memberEmail}">
            </option>
        </select>
        <input style="display: none" th:value="${projectView.projectTitle}" name="projectTitle"/>
        <input type="submit" th:value="'멤버 삭제'"/>
    </form>
    <hr>


    <p style="font-size: 12px; color: dimgray;">프로젝트 진행도</p>
    <table>
        <tr th:each="item, i: ${mileStoneView}">
            <td>
                <span th:text = "${item.milestoneName}"></span>
            </td>
        </tr>
    </table>

    <form th:method="post" th:action="@{/api/milestone}">
        <input name="mileStoneName"/>
        <input style="display: none" th:value="${projectView.projectId}" name="projectId"/>
        <input type="submit" th:value="'새로운 진행상황 등록'"/>
    </form>

    <form th:method="delete" th:action="@{/api/milestone}">
        <select name="mileStoneId">
            <option th:each="item, i: ${mileStoneView}" th:value="${item.milestoneId}" th:text="${item.milestoneName}">
            </option>
        </select>
        <input type="submit" th:value="'진행상황 삭제'"/>
    </form>
    <hr>



    <p style="font-size: 12px; color: dimgray;">프로젝트 등록 태그</p>
    <table>
        <tr th:each="item, i: ${tagView}">
            <td>
                <span th:text = "${item.tagName}" th:style="'color: ' + ${item.tagColor} + ';' "></span>
            </td>
        </tr>
    </table>

    <form th:method="post" th:action="@{/api/tag}">
        <input name="tagName"/>
        <input style="display: none" th:value="${projectView.projectId}" name="projectId"/>
        <input type="submit" th:value="'새로운 태그 등록'"/>
    </form>

    <form th:method="delete" th:action="@{/api/tag}">
        <select name="tagId">
            <option th:each="item, i: ${tagView}" th:value="${item.tagId}" th:text="${item.tagName}">
            </option>
        </select>
        <input type="submit" th:value="'태그 삭제'"/>
    </form>
    <hr>

    <form th:method="delete" th:action="@{/api/projectEdit(projectId=${projectView.projectId})}">
        <p style="font-size: 12px; color: dimgray;">프로젝트 삭제하기</p>
        <input type="submit" th:value="'삭제하기<위험>'" style="color: red"/>
    </form>
</div>

</html>