<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<div th:fragment="contentinfo">
    <form th:method="post" th:action="@{/register}" th:object="${RegisterRequest}">
        <p style="font-size: 12px; color: dimgray;">테스크 타이틀</p>
        <input style="width: 900px; font-size: 20px; font-weight: bold;border: none; border-bottom: black 1px solid"
               type="text" name="email"/></br>
        <hr>
        <p style="font-size: 12px; color: dimgray;">테스크 등록자</p>
        <input style="width: 900px; font-size: 20px; font-weight: bold;border: none; border-bottom: black 1px solid"
               type="text" name="email"/></br>
        <hr>
        <p style="font-size: 12px; color: dimgray;">테스크 본문 타이틀</p>
        <textarea style="height: 400px; width: 900px; resize: none"></textarea>
        <hr>
    </form>
</div>

</html>