<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="contentinfo">
    <p style="font-size: 12px; color: dimgray;">프로젝트 타이틀</p>
    <h3>자바 백엔드 개발 3기 교육 프로젝트</h3>
    <hr>
    <p style="font-size: 12px; color: dimgray;">프로젝트 진행도</p>
    <h3>4%</h3>
    <hr>
    <p style="font-size: 12px; color: dimgray;">프로젝트 참여인원</p>
    <table>
        <tr th:each="item, i: ${projectList}">
            <td>
                <div style="border: black solid 1px; display: flex; align-items: stretch; flex-direction: row; height: 30px; width: 400px">
                    <div style="flex: 2; border-right: 1px solid #b6bcc0; padding: 5px">
                        <span style="font-size: 12px">윤동현</span>
                    </div>
                    <div style="flex: 6; padding: 5px">
                        <span style="font-size: 12px">eatpaper1429@gmail.com</span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <hr>
    <p style="font-size: 12px; color: dimgray;">프로젝트 등록 태그</p>
    <table>
        <tr th:each="item, i: ${projectList}">
            <td>
                <span>태그</span>
            </td>
        </tr>
    </table>
    <hr>
</div>

</html>