<!DOCTYPE html>
<html lang="ko,en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>

<body>
<th:block th:insert="~{loginInfo}"></th:block>

<div sec:authorize="isAuthenticated()"
     style="border: black solid 1px; width: 1370px; height: 900px;
         display: flex; align-items: stretch; margin-top: 10px; flex-direction: row;">
    <div style="flex: 1; border-right: 1px solid #000; padding: 10px">
        <th:block th:insert="~{projectsec}"></th:block>
    </div>
    <div style="flex: 3; padding: 10px">
        <th:block th:insert="~{contentsecProjectEdit}"></th:block>
    </div>
</div>
</body>

</html>