<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="userinfo">

    <div sec:authorize="!isAuthenticated()"
         style="border: black solid 1px; padding: 10px; width: 1350px; height: 40px;
         display: flex; align-items: center; ">
        <a href="/web"
           style="background-color: white; color: black; text-decoration: none; font-size: 16px; font-weight: bold;
            cursor: pointer; margin-right: 180px">Dooray! Project Manager Service</a>
        <form th:method="post" th:action="@{/login-process}">
            <h4 style="display: inline-block; margin-left: 30px;">Email : </h4>
            <input style="margin-left: 10px; width: 200px" type="text" name="username"/>
            <h4 style="display: inline-block; margin-left: 30px;">Password : </h4>
            <input style="margin-left: 10px; margin-right: auto; width: 200px" type="password" name="password"/>
            <input style="margin-left: 10px;" type="submit" th:value="'E-mail 로그인'"/>
        </form>
        <form action="/oauth2/authorization/github" method="get">
            <input style="margin-left: 10px;" type="submit" th:value="'Github 로그인'"/>
        </form>
        <form th:method="get" th:action="@{/register}">
            <input style="margin-left: 10px;" type="submit" th:value="'회원가입'"/>
        </form>
    </div>

    <div sec:authorize="isAuthenticated()"
         style="border: black solid 1px; padding: 10px; width: 1350px; height: 40px;
         display: flex; align-items: center; ">
        <a href="/web"
           style="background-color: white; color: black; text-decoration: none; font-size: 16px; font-weight: bold;
            cursor: pointer; margin-right: 180px">Dooray! Project Manager Service</a>
        <h4 style="display: inline-block; margin-left: 30px;">Email : </h4>
        <input style="margin-left: 10px; width: 200px" readonly="true" type="text"
               th:value="${#authentication.principal.attributes['email']}"/>
        <h4 style="display: inline-block; margin-left: 30px;">UserName : </h4>
        <input style="margin-left: 10px;  margin-right: auto; width: 200px" readonly="true" type="text"
               th:value="${#authentication.principal.attributes['name']}"/>
        <form th:method="post" th:action="@{/logout}">
            <input style="margin-left: 10px;" type="submit" th:value="'로그아웃'"/>
        </form>
    </div>

    <div style="border: black solid 1px; padding: 10px; width: 1350px; height: 40px;
         display: flex; align-items: center; margin-top: 10px">
        <h4 style="display: inline-block;" th:text="'Status Message&nbsp:&nbsp'"></h4>
        <h4 style="display: inline-block;" th:text="${statusMessage}"></h4>
    </div>

</div>

</html>