<!DOCTYPE html>
<html lang="ko,en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Mini Dooray!</title>
</head>

<body>
<th:block th:insert="~{loginInfo}"></th:block>

<div sec:authorize="!isAuthenticated()"
     style="border: black solid 1px; width: 1370px; min-height: 1050px; height: auto;
         display: flex; align-items: stretch; margin-top: 10px; flex-direction: row;">
    <div style="flex: 1; border-right: 1px solid #000; padding: 10px">
    </div>
</div>

</body>

</html>
