<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<div th:fragment="projectinfo">
    <table>
        <tr th:each="item, i: ${projectList}">
            <td>
                <div style="border: black solid 1px; width: 300px;">
                    <div style="margin: 10px;">
                        <a href="/api/projectView"
                           style="background-color: white; color: black; text-decoration: none; font-size: 16px; margin: 0px"
                           th:text="${item.projectTitle}"></a>
                        <details th:each="item, i: ${projectList}">
                            <summary>Dooray Task</summary>
                            <a href="/api/taskView"
                               style="background-color: white; color: black; text-decoration: none; font-size: 16px; margin: 15px"
                               th:text="${item.projectTitle}"></a><br>
                        </details>
                    </div>
                    <form th:method="get" th:action="@{/api/taskRegister}" >
                        <input type="submit" th:value="'새로운 테스크 등록'" style="margin: 10px; margin-top: 20px"/>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <form th:method="get" th:action="@{/api/projectRegister}">
        <input type="submit" th:value="'새로운 프로젝트 등록'" style="margin: 10px; margin-top: 20px"/>
    </form>
</div>
</html>