<!DOCTYPE html>
<html lang="ko,en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>

<body>
<th:block th:insert="~{loginInfo :: userinfo}"></th:block>
<div style="border: black solid 1px; padding: 10px; width: 1350px; min-height: 1050px; height: auto;
         display: flex; align-items: center; margin-top: 10px">

    <form th:method="post" th:action="@{/register}" th:object="${RegisterRequest}">

        <h2 th:text="'회원가입'"></h2>

        <h4 style="display: inline-block; width: 150px" th:text="'User Email : '"></h4>
        <input style="margin-left: 10px; width: 200px" type="text" name="email"/></br>

        <h4 style="display: inline-block; width: 150px" th:text="'Password : '"></h4>
        <input style="margin-left: 10px; width: 200px" type="password" name="password"/></br>

        <h4 style="display: inline-block; width: 150px" th:text="'User Name : '"></h4>
        <input style="margin-left: 10px; width: 200px" type="text" name="name"/></br>

        <h4 style="display: none; width: 150px;" th:text="'User Id : '"></h4>
        <input style="margin-left: 10px; width: 200px; display: none" type="text" name="accountId" th:value="0"/></br>


        <input type="submit" th:value="'회원가입'"/></br>
    </form>
</div>
</body>

</html>
